
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$GCSE-App-primary: mat.define-palette(mat.$indigo-palette);
$GCSE-App-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$GCSE-App-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$GCSE-App-theme: mat.define-light-theme((
  color: (
    primary: $GCSE-App-primary,
    accent: $GCSE-App-accent,
    warn: $GCSE-App-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($GCSE-App-theme);
/* navbar.component.scss */

.navbar {
  background-color: #f0f0f0;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  justify-content: flex-start;
  align-items: center;
}

.navbar-logo {
  font-size: 24px;
  font-weight: bold;
}

.navbar-nav {
  list-style: none;
  display: flex;
  justify-content: flex-start;

}

.navbar-nav li {
  margin: 0 10px;
  display: flex;
  justify-content: flex-start;

}

.navbar-nav a {
  text-decoration: none;
  color: #f5f1f1;
  
  justify-content: flex-start;
}
.mat-toolbar {
  background: #3f51b5; /* Couleur de fond personnalisée */
  color: white; /* Couleur du texte */
  padding: 16px;
 
}

.spacer {
  display: flex;
  flex-grow: 1;
  
  justify-content: flex-start;
}
.container {
  text-align: center;
}


.title {
  font-size: 3rem;
  margin-bottom: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}



/* ... autres styles pour personnaliser les éléments */



