.container {
  position: relative;
}

.hero { 
  padding: 10px 0px 10px 0px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  font-size: 3rem;
  margin-bottom: 20px;
}

.features {
  margin-top: 50px;
}

.home-image {
  width: 90vw;
  height: 80vh;
  object-fit: cover;
}

.title-site {
  position: absolute;
  top: 20px;
  left: 5vw;
  color: white;
}
/* ... autres styles pour personnaliser les éléments */
