/* styles.css */
.offer-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 105px;
    margin-bottom: 15px;
    width: 300px;
  }
  
  .offer {
    border: 10px solid #ccc;
    padding: 15px;
    margin-bottom: 15px;
    width: 300px;
  }
  
  .offer h2 {
    margin-top: 10;
    margin-bottom: 10px;
  }
  
  .offer p {
    margin-bottom: 0;
  }
  